@mixin max-width-1024 {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin max-width-768 {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin max-width-576 {
  @media screen and (max-width: 576px) {
    @content;
  }
}

.sidebar-toggle-on {
  position: absolute;
  top: 68px;
  left: 20px;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  rotate: 180deg;
  cursor: pointer;

  @include max-width-768 {
    top: 60px;
  }

  @include max-width-576 {
    top: 92px;
    left: 12px;
  }
}

.system-wrapper {
  display: flex;
  width: 100%;
  height: 100%;

  .side-bar {
    position: relative;
    overflow-y: auto;
    padding-bottom: 20px;
    width: 245px;
    height: 100%;
    background-color: #fff;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.24);
    transition: 0.5s ease opacity;

    &.hide {
      opacity: 0;
      pointer-events: none;
    }

    @include max-width-1024 {
      position: absolute;
      z-index: 9;
    }

    .sidebar-toggle-off {
      position: absolute;
      top: 12px;
      right: 12px;
      display: none;
      cursor: pointer;

      @include max-width-1024 {
        display: block;
      }
    }

    .header {
      display: flex;
      justify-content: center;
      margin-top: 40px;
      gap: 20px;

      > img {
        width: 80px;
      }

      > h6 {
        width: 64px;
        font-weight: 600;
        font-size: 20px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #1c1b2e;
      }
    }

    select {
      display: block;
      padding: 8px 12px;
      margin: 36px auto 24px;
      width: 220px;
      background: #fafafa;
      border: 1px solid #efefef;
      border-radius: 4px;
    }

    .table-switcher {
      width: 100%;

      .nest-out {
        cursor: pointer;
        padding: 20px 24px;
        font-size: 20px;
        color: #a6abba;
        box-shadow: inset 0 1px 0 rgba(97, 109, 145, 0.16);
        font-weight: 400;
        line-height: 24px;

        .nest-in {
          position: relative;
          padding: 14px 0 14px 16px;
          transition: 0.2s ease;
        }

        .nest-in:first-child {
          margin-top: 20px;
        }

        .nest-in.active {
          color: #2958ec;
        }

        .nest-in.active::after {
          position: absolute;
          top: 0;
          left: -24px;
          width: 6px;
          height: 100%;
          background-color: #2958ec;
          content: "";
        }
      }
    }

    .create-role {
      margin: 0 auto;

      // position: absolute;
      // bottom: 40px;
      // left: 50%;
      // translate: -50% 0;
      width: 188px;
      height: 48px;
      font-size: 20px;
      text-align: center;
      color: #fff;
      background: #e4062c;
      border-radius: 4px;
      box-shadow: 0 8px 16px rgba(228, 6, 44, 0.16);
      font-weight: 600;
      line-height: 28px;
    }
  }

  .table-container {
    display: flex;
    padding: 40px 28px;
    width: calc(100% - 254px);
    height: 100%;
    background: linear-gradient(117.88deg, #1b48d5 54.73%, #004fa8 71.59%, #003c83 94.46%);
    border-radius: 15px 0 0 15px;
    flex-direction: column;

    @include max-width-1024 {
      padding: 24px;
      width: 100%;
      border-radius: 0;
    }

    @include max-width-576 {
      padding: 16px;
    }

    .header {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h6 {
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        color: #f5f7fb;

        @include max-width-768 {
          font-size: 24px;
          line-height: 32px;
        }
      }

      .line {
        margin: 0 12px;
        width: 1px;
        height: 40px;
        background-color: #fff;

        @include max-width-576 {
          display: none;
        }
      }

      span {
        font-weight: 600;
        font-size: 24px;
        line-height: 40px;
        letter-spacing: 0.02em;
        color: #fff;
      }

      >.infos {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }
    }

    > .table {
      display: flex;
      overflow: hidden;
      margin-top: 40px;
      width: 100%;
      height: 100%;
      background-color: #fff;
      -ms-overflow-style: none; /* for Internet Explorer, Edge */
      scrollbar-width: none; /* for Firefox */
      border-radius: 15px;
      flex-direction: column;
    }

    > .table::-webkit-scrollbar {
      display: none; /* for Chrome, Safari, and Opera */
    }
  }
}

tbody > tr {
  height: 44px;

  > td {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;

    > .k-select-checkbox.k-checkbox {
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
    }
  }
}

.k-master-row {
  background-color: #fafafa !important;

  &.k-alt {
    background-color: #fff !important;
  }
}

.k-toolbar {
  background-color: #fff !important;
  border: none !important;
}

.k-grid-header {
  background-color: #fff !important;
}

.k-grid-pager {
  display: flex;
  justify-content: center;
}

.k-grid td,
.k-grid th {
  border-style: none !important;
  border-width: 0 !important;
}

.k-header > .k-cell-inner {
  margin: -4px -12px !important;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  color: #1c1b2e;
}

.k-toolbar .k-input,
.k-toolbar .k-picker {
  padding: 2px 8px;
  margin-left: 16px;
  width: 164px !important;
  font-size: 14px;
  color: #616d91;
  border: none;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.k-input-solid:focus-within,
.k-input-solid:focus {
  box-shadow: none !important;
}

.k-grid-search {
  background: none !important;

  @include max-width-576 {
    margin-left: 0 !important;
  }
}

.k-input-value-text {
  overflow: visible !important;
}

.k-grid .k-dirty {
  display: none !important;
}

.k-dropdown-list {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
}

.k-header > .k-select-checkbox {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

#on-drop-hint {
  padding: 12px;
  background: #fff;
  border: 1px solid #7d72726d;
  border-radius: 6px;
  pointer-events: none;
}

#create-user-button {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  margin-left: auto;
  width: 110px;
  height: 32px;
  font-size: 16px;
  white-space: nowrap;
  color: #fff;
  background: #e4062c;
  border-radius: 4px;
  font-weight: 600;
  flex-direction: row-reverse;
  line-height: 20px;

  img {
    margin-right: 4px;
  }
}

// #example {
//   overflow-y: scroll;
//   height: 700px;
// }

#toolbar-title {
  font-size: 24px;
  color: #1c1b2e;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0.02em;
  order: -1;
}

.k-toolbar.k-grid-toolbar {
  padding: 24px 24px 16px;
}

.profile-actions {
  display: flex;

  @media screen and (max-width: 1060px) {
    position: absolute;
    right: 0;
  }

  .actions {
    width: 32px;
    cursor: pointer;
  }

  .profile {
    display: flex;
    align-items: center;
  }

  .avatar {
    margin-left: 24px;
    width: 32px;
    height: 32px;
    object-fit: contain;
    cursor: pointer;

    @include max-width-1024 {
      margin-left: 12px;
    }
  }

  .menu-touch {
    display: flex;
    cursor: pointer;

    .name {
      margin-left: 12px;
      font-size: 16px;
      text-align: right;
      color: #fff;
      font-weight: 400;
      line-height: 24px;

      @include max-width-1024 {
        display: none;
      }
    }

    .arrow {
      margin-left: 4px;
    }
  }

  .profile-menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 8;
    padding: 8px 0 8px 16px;
    width: 170px;

    @include max-width-1024 {
      right: -12px;
    }

    // border: 1px solid red;
    /* stylelint-disable-next-line no-descending-specificity */
    > img {
      width: 154px;
      border-radius: 6px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .menu-actions {
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% calc(-50px + 14px);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .menu-action {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-bottom: 4px;
        width: 120px;

        > span {
          margin-left: 12px;
          font-size: 12px;
          white-space: nowrap;
          color: #000;
          font-style: normal;
          font-weight: 400;
          line-height: 8px;
        }
      }
    }
  }
}

.selected-action {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99999;
  display: flex;
  align-items: center;
  padding: 0 16px;
  width: 100%;
  height: 64px;
  background-color: #fff;
  box-shadow: inset 0 1px 0 rgba(97, 109, 145, 0.16);

  .selected-close-amount {
    display: flex;
    align-items: center;
    max-width: 152px;
    /* stylelint-disable-next-line no-descending-specificity */
    img {
      margin-right: 32px;
      width: 32px;
      cursor: pointer;
    }
    /* stylelint-disable-next-line no-descending-specificity */
    > span {
      display: flex;
      font-size: 14px;
      white-space: nowrap;
      color: #1c1b2e;
      font-weight: 400;
      line-height: 28px;
      /* stylelint-disable-next-line no-descending-specificity */
      > span {
        margin-right: 8px;
      }
    }
  }

  .actions {
    position: absolute;
    left: 50%;
    display: flex;
    translate: -50% 0;

    /* stylelint-disable-next-line no-descending-specificity */
    img {
      margin-right: 8px;
      width: 32px;
      cursor: pointer;
    }
  }
}